<div>
    <mat-card>
        <h1>Lista de Empleados</h1>
        <mat-list>
            <mat-list-item>
                <div class="list-header">
                    <h3>
                        Nombre
                    </h3>
                    <h3>
                        Apellidos
                    </h3>
                    <h3>
                        Puesto de Trabajo
                    </h3>
                    <h3>
                        Fecha de nacimiento
                    </h3>
                </div> 
                <div>
                    <button mat-mini-fab color="primary" (click)="addUser()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let user of users; let index=index">
                <div class="user-info">
                    <span>
                        {{user.name}}
                    </span>
                    <span>
                        {{user.lastNames}}
                    </span>
                    <span>
                        {{user.jobPosition}}
                    </span>
                    <span>
                        {{user.birthDate | date: 'dd-MM-yyyy'}}
                    </span>

                </div> 
                <div class="action-buttons">                    
                    <button mat-mini-fab color="primary" (click)="editUser(index)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" (click)="deleteUser(index)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>

    </mat-card>
</div>